<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Fragment Test</title>-->
<!--</head>-->
<!--<body>-->

<th:block th:fragment="loader">
    <!--Loading animations-->
    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader-text">SRV</div>
            <div class="loader-circle"></div>
            <div class="loader-circle"></div>
            <div class="loader-circle"></div>
        </div>
    </div>
</th:block>

</body>
</html>
